Вы либо кто-то другой указали данный Email: {{ recepient }} и хотите сменить пароль на сайте {{ sitename }}
Если вы действительно хотите воостановить (сменить) пароль воспользуйтесь 
<a href="http://192.168.1.4/jkh/web/app_dev.php/recoverypassletter/{{ secretcode }}?email={{ recepient }}&changepass=true">данной ссылкой</a>
либо скопируйте следующую строку: 
http://192.168.1.4/jkh/web/app_dev.php/recoverypassletter/{{ secretcode }}?email={{ recepient }}&changepass=true
в адресную строку браузера и перейдите по ней на страницу смены пароля