<div class="footer">
  <div class="footer-inner">
    <div class="pagination">
      <ul class="ul-clear">
        <li class="first"><a href='#' class="nav-button" id="first">&nbsp;</a></li>
        <li class="page"><a href='#link1' class="nav-button" id="p1">1</a></li>
        <li class="page activ"><a href='#link2' class="nav-button" id="p2">2</a></li>
        <li class="page"><a href='#link3' class="nav-button" id="p3">3</a></li>
        <li class="page"><a href='#link4' class="nav-button" id="p4">4</a></li>
        <li class="page"><a href='#link5' class="nav-button" id="p5">5</a></li>
        <li class="last"><a href='#' class="nav-button" id="last">&nbsp;</a></li>
      </ul>
    </div>
    <div class="copyrights">&copy; 2013, ЖКХ-online</div>
    <div class="footer-like"> <a href="#" class="twitter">&nbsp;</a>&nbsp; <a href="#" class="facebook">&nbsp;</a>&nbsp; <a href="#" class="vk">&nbsp;</a>&nbsp; </div>
    <a href="{{ path('_jkh_personalcab') }}" class="btn-cab">Личный кабинет</a>
    <div class="like">
      <div class="b-social">
        <div class="soc tw"><img src="{{ asset('bundles/jkh/img/soc-tw2.png') }}"></div>
        <div class="soc vk"><img src="{{ asset('bundles/jkh/img/soc-vk2.png') }}"></div>
        <div class="soc fb"><img src="{{ asset('bundles/jkh/img/soc-fb2.png') }}"></div>
        <div class="soc ok"><img src="{{ asset('bundles/jkh/img/soc-ok2.png') }}"></div>
      </div>
      <!--b-social--> 
    </div>
    <div class="footer-like"> <a href="#" class="twitter">&nbsp;</a>&nbsp; <a href="#" class="facebook">&nbsp;</a>&nbsp; <a href="#" class="vk">&nbsp;</a>&nbsp; </div>
    <div class="support"><a href="#">Разработка сайта <img src="{{ asset('bundles/jkh/css/pict/link.png') }}" alt=''/></a></div>
  </div>
</div>
<!-- .footer -->