<div class="footer">
	<div class="footer-inner">
		<div class="footer_question"><a href="#"><span class="question">&nbsp;</span> Вопросы и ответы</a></div>
		<ul class="footer-ul ul-clear">
			<li><a href="{{ path('_jkh_orgbase') }}">Справочник организаций</a></li>
			<li><a href="{{ path('_jkh_etweet') }}">Льготы</a></li>
			<li><a href="{{ path('_jkh_etweet') }}">Нормативы по теплу</a></li>
			<li><a href="{{ path('_jkh_etweet') }}">Тарифы</a></li>
		</ul>
		<div class="feedback">
			<a href="#">ОБРАТНАЯ СВЯЗЬ</a>
		</div>
		<div class="like">
                              <div class="b-social">
                          <div class="soc fb"><img src="{{ asset('bundles/jkh/img/soc-fb.png') }}"></div>
                          <div class="soc vk"><img src="{{ asset('bundles/jkh/img/soc-vk.png') }}"></div>
                          <div class="soc tw"><img src="{{ asset('bundles/jkh/img/soc-tw.png') }}"></div>
                          <div class="soc ok"><img src="{{ asset('bundles/jkh/img/soc-ok.png') }}"></div>

                      </div><!--b-social-->
        </div>
		<div class="banner"><a href="#"><img src="{{ asset('bundles/jkh/img/banner.png') }}" alt=''/></a></div>
		<div class="footer-like">
			<a href="#" class="twitter">&nbsp;</a>&nbsp; 
			<a href="#" class="facebook">&nbsp;</a>&nbsp;
			<a href="#" class="vk">&nbsp;</a>&nbsp;
		</div>
		<div class="copyrights">&copy; 2013, ЖКХ-online</div>
		<div class="support"><a href="#">Разработка сайта <img src="{{ asset('bundles/jkh/css/pict/link.png') }}" alt=''/></a></div> 

	</div>
</div><!-- .footer -->