<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ _</title>
	<link rel="shortcut icon" href="{{ asset('bundles/jkh/img/logo-promo.png') }}" type="image/x-icon">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<!--[if IE ]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="{{ asset('bundles/jkh/css/style.css') }}" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.limit.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.formstyler.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('bundles/jkh/css/jquery.formstyler.css') }}" type="text/css" />
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jkh/js/inputstyler.js') }}"></script>
</head>

<body class="base">

<div class="wrapper">


{% if is_auth == true %}
	{% include 'header-personal.html.twig' %}
{% endif %}

{% if is_auth == false %}
  	{% include 'header-general.html.twig' %}
{% endif %}




	<div class="middle">
		<div class="container">

			<div class="header_text">
				Минск, ул. Рафиева, д. 45, корп. 2, кв. 175<br>
				<a href="#" title="Подробности лицевого счёта и дома">Подробности лицевого счёта и дома</a>
			</div><!-- .header_text-->
			<ul class="top_menu ul-clear">
				<li><a href="#" title="Сводка">Сводка <span>на 20 ноября 2013</span></a></li>
				<li><a href="#" title="Показания счётчиков">Показания счётчиков</a></li>
				<li><a href="#" title="Начисления">Начисления <span>249 500</span></a></li>
				<li><a href="#" title="Где оплатить">Где оплатить</a></li>
				<li><a href="#" class="e-tweet" data-org-id="1"><span class="e-mail">&nbsp;</span>&nbsp;Н1</a></li>
				<li><a href="#" class="e-tweet" data-org-id="2"><span class="e-mail">&nbsp;</span>&nbsp;Н2</a></li>
				<li><a href="#" title="Куда обращаться">Куда обращаться</a></li>
				<li class="active"><a href="#" title="Доп. услуги">Доп. услуги</a></li>                
			</ul>
			<div class="searvise_search">
            <form id="searvise_search" method="get" action="#">
            <input class="search_text" type="text" placeholder="Искать...">
            <input class="search_btn" type="button" value="">
            <span class="input_clear">очистить</span>
            </form>
            </div>
			<ul class="bread_crumbs  ul-clear">
				<li><a href="#" title="Все услуги">Все услуги</a></li>
				<li class="bread_crumbs_separator">&rarr;</li> 
				<li>Ремонт и отделка</li>
				<li class="bread_crumbs_separator">&darr;</li>           
			</ul> 	

			
			
			<div class="content">
				<div class="search">
					<form>
						Искать в этом разделе:
						<input class="search_text" type="text" placeholder="Искать...">
						<input class="search_btn" type="button" value="">
					</form>
				</div>
				<div class="menu_main">

					<div class="menu_main_block">
						<span>Комплексный ремонт «под ключ»</span>
						<ul  class="ul-clear">
							<li><a href="#" title="Мастер на все руки (мелкий ремонт)">Мастер на все руки (мелкий ремонт)</a></li>
							<li><a href="#" title="Ремонт ванной комнаты и санузла «под ключ»">Ремонт ванной комнаты и санузла «под ключ»</a></li>
							<li><a href="#" title="Ремонт квартир, коттеджей">Ремонт квартир, коттеджей</a></li>
							<li><a href="#" title="Ремонт офисов, общественных помещений ">Ремонт офисов, общественных помещений</a></li>
							<li><a href="#" title="Вывоз мусора ">Вывоз мусора</a></li>
						</ul>
					</div><!-- .menu_main_block-->	
					
					<div class="menu_main_block">
						<span>Отделочные работы. Внутренняя отделка стен</span>
						<ul  class="ul-clear">
							<li><a href="#" title="Лепнина ">Лепнина </a></li>
							<li><a href="#" title="Монтаж гипсокартона">Монтаж гипсокартона</a></li>
							<li><a href="#" title="Монтаж панелей ПВХ">Монтаж панелей ПВХ</a></li>
							<li><a href="#" title="Нанесение декоративной штукатурки">Нанесение декоративной штукатурки</a></li>
							<li><a href="#" title="Облицовка плиткой">Облицовка плиткой</a></li>
							<li><a href="#" title="Оклейка обоями">Оклейка обоями</a></li>         
							<li><a href="#" title="Покраска, обои под покраску">Покраска, обои под покраску</a></li>         
							<li><a href="#" title="Художественная роспись. Фрески.">Художественная роспись. Фрески.</a></li>         
							<li><a href="#" title="Шпаклевка стен">Шпаклевка стен</a></li>
							<li><a href="#" title="Штукатурка стен">Штукатурка стен</a></li>
						</ul>
					</div><!-- .menu_main_block-->

					<div class="menu_main_block">
						<span>Перепланировка квартир</span>
						<ul  class="ul-clear">
							<li><a href="#" title="Возведение перегородок">Возведение перегородок</a></li>
							<li><a href="#" title="Демонтаж стен">Демонтаж стен</a></li>
							<li><a href="#" title="Межкомнатные перегородки ">Межкомнатные перегородки </a></li>
							<li><a href="#" title="Разрушение перегородок, проемы">Разрушение перегородок, проемы</a></li>
							<li><a href="#" title="Сантехнические перегородки">Сантехнические перегородки</a></li>
						</ul>
					</div><!-- .menu_main_block-->	

					<div class="separator"></div>
				</div><!-- .menu_main-->


				<div class="card">
					<div class="card_title"><img src="demo/demo1.png" alt="">Козловский Н.В., ИП</div>
					<ul  class="card_items ul-clear">
						<li>Ремонт и отделка квартир</li>
						<li>Плиточные работы</li>
						<li>Сантехнические работы</li>
						<li>Электрика</li>
						<li>Малярные работы</li>
						<li>Гипсокартонные работы</li>
					</ul>

					<div class="card_text">
						<p>Наши специалисты - мастера своего дела, проверенные временем. Также мы беремся за отдельные виды внутренних отделочных работ. Поможем подобрать оптимальные материалы. Воплотим Ваши идеи в жизнь.</p> 
						<p>Производим ремонт от косметического до люкс и премиум класса. Также выполним работы по покраске различных металлоконструкций из соответствующего оборудования (опыт и качество гарантируем).</p>
					</div>

					<div class="card_contact">
						г. Минск, ул. Орловская, 40 А, офис 46
						<ul class="ul-clear">
							<li>(017) 233-32-37</li>
							<li>(029) 677-06-71</li>
							<li>(029) 770-67-17</li>
							<li><a href="#" title="remontbest.by">remontbest.by</a></li>
						</ul>
					</div><!-- .sidebar#sideRight_two -->
					<div class="separator"></div>
				</div><!-- card-->				

				<div class="card">
					<div class="card_title"><img src="demo/demo1.png" alt="">Козловский Н.В., ИП</div>
					<ul  class="card_items ul-clear">
						<li>Ремонт и отделка квартир</li>
						<li>Плиточные работы</li>
						<li>Сантехнические работы</li>
						<li>Электрика</li>
						<li>Малярные работы</li>
						<li>Гипсокартонные работы</li>
					</ul>

					<div class="card_text">
						<p>Наши специалисты - мастера своего дела, проверенные временем. Также мы беремся за отдельные виды внутренних отделочных работ. Поможем подобрать оптимальные материалы. Воплотим Ваши идеи в жизнь.</p> 
						<p>Производим ремонт от косметического до люкс и премиум класса. Также выполним работы по покраске различных металлоконструкций из соответствующего оборудования (опыт и качество гарантируем).</p>
					</div>

					<div class="card_contact">
						г. Минск, ул. Орловская, 40 А, офис 46
						<ul class="ul-clear">
							<li>(017) 233-32-37</li>
							<li>(029) 677-06-71</li>
							<li>(029) 770-67-17</li>
							<li><a href="#" title="remontbest.by">remontbest.by</a></li>
						</ul>
					</div><!-- .sidebar#sideRight_two -->
					<div class="separator"></div>
				</div><!-- card-->				
				<div class="pad-60"></div>
			</div><!-- .content-->
		</div><!-- .container-->
	</div><!-- .middle-->


{% include 'footer.html.twig' %}


</div><!-- .wrapper -->

{% include 'modal-windows.html.twig' %}
<script type="text/javascript" src="{{ asset('bundles/jkh/js/actionscript.js') }}"></script>


    <script type="text/javascript">
		$(document).ready(function() {

			$('.e-tweet').click( function(event){
				event.preventDefault(); // выключaем стaндaртную рoль элементa
				var data_org_id = this.getAttribute('data-org-id');
				$('#elektron') 
						.css('display', 'block')
						.animate({opacity: 1, top: '0%'}, 200);
				$('#elektron #orgid-id').val(data_org_id);//заносим в скрытое поле id организации-получателя
			});

			$("#e-tweet-form").submit(function(){
				alert("Отправка Электронной заявки");
				$.ajax({
					type: "POST",
					url: "{{ path('_jkh_etweet') }}",
					data: $(this).serialize(),
					success: function(data){
					    alert("Ваша Заявка принята. \n" + data);
					}
				});
				return false;
			});

		});
    </script>



</body>
</html>