<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ _</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<!--[if IE ]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="{{ asset('bundles/jkh/css/style.css') }}" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.limit.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.formstyler.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('bundles/jkh/css/jquery.formstyler.css') }}" type="text/css" />
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jkh/js/inputstyler.js') }}"></script>
</head>


<body class="base">

<div class="wrapper">

	<input id="test_1_3" type="button" value="7 Регистрация 3">

	<form action="auth4" method="post">
		<div id="registration3" class="modal-window-wrapper"> <!-- Регистрация 3 -->
			<div class="div-registration">
				<div class="btn-close"><span class="exit-big">&nbsp;</span></div>
				<div class="div-registration_title">Регистрация</div>
				<ul class="ul-clear">
					<li><span class="div-registration_li">Данные лицевого</span><span>&rarr;</span></li>
					<li><span class="div-registration_li">Данные для входа</span><span>&rarr;</span></li>
					<li><span class="div-registration_li active">Готово!</span></li>
				</ul>
				<div class="div-registration_wrapper-2">
					Подтвердите
					<div class="div-registration_inner">
						Я,
						<input type="text" placeholder=" Ваше ФИО"><br>
						согласен <a href="#">с условиями пользовательской оферты</a>
					</div>
					<div style="text-align:center">
					<input class="orange-43" type="submit" value="Подтвердить и зарегистрироваться">
					</div>
				</div>
			</div>	
		</div>
	</form>

</div>


</body>
</html>
