<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ _</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<!--[if IE ]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="{{ asset('bundles/jkh/css/style.css') }}" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.limit.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/jquery.formstyler.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('bundles/jkh/css/jquery.formstyler.css') }}" type="text/css" />
	<script type="text/javascript" src="{{ asset('bundles/jkh/js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jkh/js/inputstyler.js') }}"></script>
</head>


<body class="base">

<div class="wrapper">

<input id="test_1_5" type="button" value="7 Регистрация 5">

	<form action="authfin" method="post">
	<div id="registration5" class="modal-window-wrapper"> <!-- Регистрация 5 -->
		<div class="div-registration">
			<div class="btn-close"><span class="exit-big">&nbsp;</span></div>
			<div class="div-registration_wrapper-2">
				<div class="div-registration_title">Поздравляем!</div>
				Вы зарегистрировались на нашем сайте<br>
				<div class="pad-30"></div>
				<a href="#">Изменить свои личные данные</a><br>
				<a href="#">Настроить уведомления</a><br><br>
				<input type="submit" value="Начать работу"  class="orange-43">
				
			</div>		
		</div>	
	</div>
	</form>

</div>


</body>
</html>
